.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;
    &:hover{
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.info {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 400;
}
.name {
    margin-bottom: 4px;
}

.check {
    margin-left: 6px;
    color: #20d5ec;
}

.username {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
}
